.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.profile__image:hover::before {
  opacity: 1;
}

.profile__image::before {
  content: '';
  width: 28px;
  height: 28px;
  background: transparent url('../../../images/vector.svg') center no-repeat;
  background-size: 26px 26px;
  border: none;
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 14px);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.profile__image::after{
  content: '';
  position: absolute;
  background: #000;
  inset: 0;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.profile__image:hover::after{
  cursor: pointer;
  opacity: 0.7;
}